extends layout

block content
  .regis-box
    form.regis-form(action="/register", method="post") 
        h1 Create an account
        p One account for everything.
        label(for="username") Username
        input(type="text", name="username", id="username", required, pattern="^[a-zA-Z0-9 ]+$", minlength=5, mixlength=13)
        label(for="password") Password
        input(type="password", name="password", id="password", required, pattern="^[a-zA-Z0-9 ]+$", minlength=6, maxlength=16)
        label(for="cpassword") Confirm Password
        input(type="password", name="cpassword", id="cpassword", required, pattern="^[a-zA-Z0-9 ]+$")
        input.regis-submit-button(type="submit", value="Create an account") 