extends layout

block content
  .regis-box
    form.regis-form(action="/register", method="post") 
        h1 Create an account
        p One account for everything.
        label(for="username") Username
        input(type="text", name="username", id="username", required, pattern="^([\w-]+)$", minlength=5, maxlength=13, role="presentation", autocomplete="new-password")
        label(for="password") Password
        input(type="password", name="password", id="password", required, pattern="^([\w-]+)$", minlength=6, maxlength=16, role="presentation", autocomplete="new-password")
        label(for="cpassword") Confirm Password
        input(type="password", name="cpassword", id="cpassword", required, pattern="^([\w-]+)$")
        input.regis-submit-button(type="submit", value="Create an account") 
        span.warning
        if (typeof errorMessages !== 'undefined')
          for message in errorMessages
            span #{message.msg}