extends layout

block content
  .regis-box
    form.regis-form(action="/secret", method="post") 
        h1 Promotion
        p Type in a secret code 
        label(for="code") Code
        input(type="text", name="code", id="code", required)
        input.regis-submit-button(type="submit", value="Submit") 
        span.warning
        if (typeof errorMessages !== 'undefined')
          for message in errorMessages
            span #{message.msg}