/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	height: 100%;
}
h1 {
	font-size: 2rem;
}

.regis-box {
	border: 3px solid black;
	margin-top: 150px;
	margin-left: 725px;
	margin-right: 725px;
	padding: 25px;
}

.regis-box > form {
	display: flex;
	flex-direction: column;
}

form.regis-form > h1 {
	align-self: center;
	margin-bottom: 17px;
}

form.regis-form > p {
	align-self: center;
	font-weight: 100;
	color: rgb(75, 75, 75);
	margin-bottom: 17px;
}

form.regis-form label {
	margin-bottom: 7px;
}

form.regis-form input:not(:last-child) {
	height: 31px;
	margin-bottom: 27px;
	border: 1px solid gray;
	border-radius: 4px;
}

form.regis-form input:not(:last-child):focus {
	border-color: hsl(212, 100%, 49%);
	box-shadow: 0px 0px 15px #6ea2de;
}

input.regis-submit-button {
	min-height: 50px;
	background-color: #0275f8;
	border: 1px solid #0275f8;
	color: white;
	font-size: 1.4rem;
}

input.regis-submit-button:hover {
	background-color: #268afc;
}

.header {
	padding: 10px;
	min-height: 50px;
	border: 1px solid black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #40a2e3;
}

.name {
	display: flex;
}
.header h2 {
	font-size: 1.7rem;
	font-weight: 600;
	color: white;
}

.content {
	background-color: #f3f8fc;
	width: 100%;
	float: left;
}

.login-form > form {
	display: flex;
	gap: 7px;
}

.login-button {
	min-width: 50px;
	background-color: #fff6e9;
	border: none;
}

.login-button:hover {
	background-color: #fce2be;
}

.home-container {
}

.bg {
	padding-left: 600px;
	padding-right: 600px;
	background-color: #fff6e9;
	min-height: 100vh;
	padding-top: 15px;
}

.post {
	background-color: #bbe2ec;
	padding: 13px;
	margin-bottom: 20px;
}

.post > h3 {
	padding-bottom: 6px;
	border-bottom: 1px solid #000000;
}

.post > p {
	margin-top: 13px;
}
html {
	height: 100%;
}
